name: Deploy to DO

on:
  push:
    branches:
      - main


env:
  # DIGITAL_OCEAN_HOST: ${{ secrets.DIGITAL_OCEAN_HOST }}
  # DIGITAL_OCEAN_USER: ${{ secrets.DIGITAL_OCEAN_USER }}
  # DIGITAL_OCEAN_SSH_KEY: ${{ secrets.DIGITAL_OCEAN_SSH_KEY }}
  # DIGITAL_OCEAN_TARGET: ${{ secrets.DIGITAL_OCEAN_TARGET }}
  DIGITAL_OCEAN_HOST: ${{ '137.184.123.248' }}
  DIGITAL_OCEAN_USER: ${{ 'root' }}
  DIGITAL_OCEAN_SSH_KEY: ${{ 'k9Pippirunner' }}
  DIGITAL_OCEAN_TARGET: ${{ '/home/app/' }}

  APP_NAME: ${{ 'aspdotnet-react-digitalocean' }}

jobs:
  build:
    name: Build and Deploy to DO
    runs-on: ubuntu-18.04
    steps:

      - name: Copy via SSH
        uses: garygrossgarten/github-action-scp@v0.5.3
        with:
          command: ls -a
          remote: $DIGITAL_OCEAN_TARGET
          host: $DIGITAL_OCEAN_HOST
          username: $DIGITAL_OCEAN_USER
          passphrase: $DIGITAL_OCEAN_SSH_KEY

          
      # Clone the repository
      # - name: Checkout
      #   uses: actions/checkout@v2
      
      # # Setup .net Core
      # - name: Setup .Net Core
      #   uses: actions/setup-dotnet@v1
      #   with:
      #     dotnet-version: '6.0.x'
      
      # # Install node js
      # - name: Install Node.js 16.15.0
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: '16.15.0'
      
      # # Build project
      # - name: Dotnet Build
      #   run: dotnet build
      
      # # Dotnet Publish
      # - name: Dotnet Publish
      #   run: dotnet publish -c Release -o deploy

      # # Copy release to DO
      # - name: Copy via SSH
      #   uses: garygrossgarten/github-action-scp@v0.5.3
      #   with:
      #     local: /home/runner/work/aspdotnet-react-digitalocean/aspdotnet-react-digitalocean/deploy/
      #     remote: $DIGITAL_OCEAN_TARGET
      #     host: $DIGITAL_OCEAN_HOST
      #     username: $DIGITAL_OCEAN_USER
      #     password: $DIGITAL_OCEAN_SSH_KEY
      #     tryKeyboard: true
      
      # # Run ssh command
      # - name: Run ssh command
      #   uses: garygrossgarten/github-action-ssh@v0.3.0
      #   with:
      #     command: sudo systemctl restart aspdotnet-react-digitalocean
      #     host: $DIGITAL_OCEAN_HOST
      #     username: $DIGITAL_OCEAN_USER
      #     password: $DIGITAL_OCEAN_SSH_KEY
      #     tryKeyboard: true